@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Mrs+Saint+Delafield&display=swap');

.font-delafield {
    font-family: "Mrs Saint Delafield", cursive;
    font-weight: 400;
    font-style: normal;
}