@import url('https://use.typekit.net/xdl5qgh.css');

.font-ernie {
    font-family: "adobe-handwriting-ernie", sans-serif;
}

.font-frank {
    font-family: "adobe-handwriting-frank", sans-serif;
}

.font-tiffany {
    font-family: "adobe-handwriting-tiffany", sans-serif;
}