@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

$text-font: 'EB Garamond', serif;
$h1-font: 'Lora', serif;
$h2-font: 'EB Garamond', serif;

$book-h-ratio: 8.5;
$book-w-ratio: 5.5;
$book-size: 95px;


* {
    margin: 0;
    box-sizing: border-box;
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book {
    img {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 3.5rem;
        background-color: #f1f5f9;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-width: 1px;
        border-style: solid;
        border-color: #e5e7eb;
    }

    @extend %absolute-center;
    width: $book-size * $book-w-ratio * 2;
    height: $book-size * $book-h-ratio;

    transform: translate(-50%, -50%) rotateX(10deg) rotateY(-10deg);
    transform-style: preserve-3d;

    .text-page {
        color: black;
        margin-bottom: 4%;
        font-family: $text-font;
        font-size: 18px;
    }
}

.page {
    width: $book-size * $book-w-ratio;
    height: $book-size * $book-h-ratio;
    background: #eee;
    position: absolute;
    top: 0;
    right: 0;
    transition: transform 1s;
}

.last-page {
    background: #9bc8d6 !important;
}

@for $i from 1 through 100 {
    .page:nth-child(#{$i}) {
        @if $i % 2==1 {
            padding: 5% 4% 4% 5%;
            transform-origin: 0% 50%;
            transform: translateZ(-1px * $i);
        }

        @else {
            padding: 5% 5% 4% 4%;
            transform-origin: 100% 50%;
            transform: translateZ(-1px * $i) scaleX(-1) translateX(100%);
        }

        @if $i >2 {
            @if $i % 20 < 10 {
                background: #fffff5;
            }

            @else {
                background: #ccc;
            }
        }

        @else {
            background: #9bc8d6;
        }
    }

    .left-side:nth-child(#{$i}) {
        @if $i % 2==1 {
            transform: translateZ(1px * $i) rotateY(-180deg);
        }

        @else {
            transform: translateZ(1px * $i) scaleX(-1) translateX(100%) rotateY(180deg);
        }
    }
}

.cover-front:nth-child(1) {
    text-align: center;

    h1 {
        font-family: $h1-font;
        font-size: 45px;
        color: #134a78;
        margin-top: 30px;
        text-transform: uppercase;
    }

    p {
        font-family: $h1-font;
        text-transform: uppercase;
    }

    h2 {
        font-family: $h2-font;
        font-size: 24px;
        color: #134a78;
        position: relative;
        top: 40%;
    }

    .hat {
        font-size: 100px;
        color: #134a78;
        position: relative;
        top: 3%;
    }
}

.paragraph {
    color: black;
    margin-bottom: 4%;
    font-family: $text-font;
    font-size: 18px;
}

.page:nth-child(3) {
    p {
        &:first-of-type {
            &:first-letter {
                font-size: 32px;
            }
        }
    }
}

.instruction {
    @extend %absolute-center;
    left: calc(50% - 150px);
    font-size: 26px;
    font-family: $text-font;
    color: #0009;
    background: #fff7;
    border-radius: 15px;
    padding: 10px 15px;
}