@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./google-fonts/dancing.scss";
@import "./google-fonts/delafield.scss";
@import "./google-fonts/fuggles.scss";
@import "./google-fonts/mea-culpa.scss";

@import "./adobe-font/heandwriting.scss";

@import "./text-animation.scss";

@import "./flip-book-effect.scss";
@import "./quill-editor.scss";

// @import "./papper.scss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
